<!-- Display template from within base template -->
{% extends "base.html" %}
<!-- Tell base template which block element we're injecing our code into -->
{% block content %}

    <!-- Use Jinja Language to loop through each task item from within collection -->
    <!-- Display each field in our db -->
    <!-- Iteration uses new task var created in for loop and dot notation to target fields -->
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}
{% endblock %}